* {
    box-sizing: border-box;
}

html, body, h1, h2, h3, ul, p {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

body {
    background-color:  #f5f5f5;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

.btn-reset {
    border: none;
    background: none;
    cursor: pointer;
}

.container {
    width: 1366px;
    margin: 0 auto;
}

.modal-bg, .confirm-bg {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,.5);
    z-index: 5;
    animation: open-modal .2s linear;
}

.modal, .confirm {
    position: relative;
    width: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #FFFFFF;
    margin-top: 40px;
    padding-top: 15px;
    padding-bottom: 24px;
    animation: open-modal .2s linear;
}

@keyframes open-modal {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.confirm__close-cont {
    position: absolute;
    width: 22px;
    height: 22px;
    top: 19px;
    right: 28px;
}

.confirm__header {
    color: #333333;
    font-weight: 700;
    font-size: 18px;
    line-height: 37px;
    letter-spacing: 1.1px;
    text-align: center;
    margin-bottom: 5px;
}

.confirm__title {
    color: #333333;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    letter-spacing: 0px;
    text-align: center;
    padding-left: 80px;
    padding-right: 80px;
    margin-bottom: 27px;
}

.confirm__delete {
    color: #ffffff;
    background-color: #9873FF;
    font-size: 14px;
    font-weight: 600;
    padding-right: 35px;
    padding-left: 35px;
    padding-top: 14px;
    padding-bottom: 14px;
    transition: background .2s ease-in-out;
}

.confirm__delete:hover {
    background-color: #8052FF;
}

.confirm__delete:active {
    background-color: #B89EFF;
}

.confirm__cancel {
    color: #333333;
    border-bottom: 1px solid #333333;
    font-size: 12px;
    font-weight: 400;
    padding-top: 7px;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
}

.modal__header-cont {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding-top: 4px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 12px;
}

.modal__header {
    color: #333333;
    font-weight: 700;
    font-size: 18px;
    line-height: 37px;
    letter-spacing: 0.5px;
}

.modal__header span {
    color: #B0B0B0;
    font-size: 12px;
    font-weight: 400;
}

.modal__close, .confirm__close {
    position: relative;
    width: 22px;
    height: 22px;
    cursor: pointer;
}

.modal__close-line, .confirm__close-line {
    position: absolute;
    width: 100%;
    height: 2px;
    background: #C8C5D1;
}

.modal__close-line:nth-child(1), .confirm__close-line:nth-child(1) {
    transform: rotate(45deg);
}

.modal__close-line:nth-child(2), .confirm__close-line:nth-child(2) {
    transform: rotate(135deg);
}

.modal__form {
    width: 100%;
}

.modal__inputs {
    padding-right: 30px;
    padding-left: 30px;
    margin-bottom: 5px;
}

.choices {
    margin-bottom: 0;
}

.choices__list--dropdown {
    word-break: normal;
}

.choices__list--single {
    display: inline-block;
    padding-left: 12px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 0;
    width: 123px;
}

.choices[data-type*=select-one] .choices__inner {
    padding-bottom: 0px;
}

.choices__inner {
    color: #333333;
    font-weight: normal;
    font-size: 12px;
    padding: 0;
    min-height: 35px;
    letter-spacing: 0;
}

.choices[data-type*=select-one]:after {
    width: 5px;
    height: 6px;
    top: 15px;
    right: 12px;
    border-color: #9873FF;
    border-width: 1px;
    border-style: solid;
    border-right: none;
    border-top: none;
    transform: rotate(-45deg);
    z-index: 0;
}
.is-open.choices[data-type*=select-one]:after {
    top: 23px;
    border-color: #9873FF;
    transform: rotate(135deg);
}

.form__select {
    color: #333333;
    font-weight: normal;
    font-size: 12px;
    padding-left: 12px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 123px;
    border: 1px solid #C8C5D1;
}

.form__input {
    width: 100%;
    border: none;
    font-size: 14px;
    line-height: 27px;
    font-weight: 600;
    border-bottom: 1px solid #C8C5D1;
    padding-top: 10px;
    margin-bottom: 18px;
}

.form__input:focus {
    outline: none;
    border-bottom: 1px solid #F06A4D;
}

.modal__placeholder-container {
    position: relative;
}

.modal__label {
    position: absolute;
    color: #B0B0B0;
    font-size: 14px;
    font-weight: 400;
    transition: top .2s linear, font-size .2s linear;
    top: 15px;
    left: 0px;
}

.modal__label span {
    color: #9873FF;
}

.form__input:focus + .modal__label, .form__input:not(:placeholder-shown) + .modal__label {
    top: 1px;
    left: 0px;
    font-size: 10px; 
}


.form__contacts-field {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(200,197,209,.3);
    padding-top: 7px;
    padding-bottom: 6px;
    padding-left: 30px;
    padding-right: 30px;
}

.form__contact {
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    color: #333333;
    cursor: pointer;
    transition: color .2s ease-in-out;
}

.form__contact svg {
    margin-bottom: -3px;
    margin-right: 2px;
}

.form__contact:hover {
    color: #9873FF;
}

svg path, svg circle {
    transition: fill .2s ease-in-out;
}

.form__contact:hover svg path {
    fill: #ffffff;
}

.form__contact:hover svg circle {
    fill: #9873FF;
}

.form__btn-field {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 22px;
}

.form__save {
    color: #ffffff;
    font-weight: 600;
    font-size: 14px;
    background: #9873FF;
    padding: 14px 35px;
    cursor: pointer;
    margin-bottom: 5px;
    transition: background .2s ease-in-out;
}

.form__save:hover {
    background-color: #8052FF;
}

.form__save:active {
    background-color: #B89EFF;
}

.form__save-load {
    display: none;
    margin-right: 5px;
    animation: loading 1s linear infinite;
}

.form__save_active svg {
    display: inline-block;
}

.form__cancel {
    color: #333333;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    text-decoration-line: underline;
    cursor: pointer;
}

.form__contact-field {
    width: 100%;
    padding-top: 20px;
    display: flex;
}

.form__contact-field:last-child {
    margin-bottom: 25px;
}

.form__contact-input {
    color: #333333;
    width: 240px;
    font-weight: 600;
    font-size: 14px;
    border: 1px solid #C8C5D1;
    border-left: none;
    border-right: none;
    padding-left: 10px;
    padding-top: 8px;
    padding-bottom: 9px;
}

.form__contact-input::placeholder {
    color: #B0B0B0;
    font-size: 14px;
    font-weight: normal;
}

.form__contact-del {
    position: relative;
    width: 27px;
    font-size: 0;
    background-color: #E7E5EB;
    border: 1px solid #C8C5D1;
    padding-left: 5px;
    cursor: pointer;
    transition: border .2s ease-in-out;
}

.form__contact-del:hover {
    border: 1px solid #F06A4D;
}

.form__contact-del svg path {
    transition: fill .2s ease-in-out;    
}

.form__contact-del:hover svg path {
    fill: #F06A4D;
}

.form__contact-del:hover .contact__text {
    display: block;
    left: -62px;
    bottom: 100%;
    width: 150px;
}

.form__error {
    color: #F06A4D;
    font-size: 10px;
    line-height: 14px;
    font-weight: 400;
    text-align: center;
    padding-top: 5px;
    /* padding-bottom: 5px; */
    padding-left: 90px;
    padding-right: 90px;
}

header {
    background-color: #ffffff;
    box-shadow: 0px 9.03012px 27.0904px rgba(176, 190, 197, 0.32), 0px 3.38629px 5.64383px rgba(176, 190, 197, 0.32);
}

.header__container {
    display: flex;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 16px;
}

.header__logo {
    margin-right: 53px;
}

.header__query {
    width: 581px;
    height: 44px; 
    font-size: 14px;
    letter-spacing: 0.4px;
    border: 1px solid #B0B0B0;
    margin-top: 3px;
    padding-left: 14px;
}

.header__query::placeholder {
    color: #B0B0B0;
}

.cleints {
    padding-left: 90px;
    padding-right: 90px;
    padding-top: 45px;
    padding-bottom: 45px;
}

.clients__header {
    letter-spacing: 0.9px;
    margin-bottom: 12px;
}

.clients__table {
    border-collapse: collapse;
    border: none;
    width: 100%;
    margin-bottom: 41px;
}

.clients__table-header-cell {
    color: #B0B0B0;
    font-size: 12px;
    line-height: 16px;
    text-align: left;
    vertical-align: bottom;
    padding-top: 1px;
    padding-bottom: 10px;
}

.clients__table-header-cell_usort span {
    background-image: url(../img/arrow-up.svg);
    background-repeat: no-repeat;
    background-position: center;
    padding-left: 10px;
}

.clients__table-header-cell_dsort span {
    background-image: url(../img/arrow-down.svg);
    background-repeat: no-repeat;
    background-position: center;
    padding-left: 10px;
}

.clients__table-header-cell_cell1 {
    width: 91px;
    padding-left: 20px;
}

.clients__table-header-cell_cell2 {
    width: 241px;
}

.clients__table-header-cell_cell3 {
    width: 163px;
    padding-right: 25px;
}

.clients__table-header-cell_cell4 {
    width: 148px;
    padding-right: 25px;
}

.clients__table-header-cell_cell5 {
    width: 153px;
    padding-left: 0;
}

.clients__table-header-cell_cell6 {
    width: 210px;
    padding-left: 0;
}

.clients__table-header-cell_cell1, .clients__table-header-cell_cell2, .clients__table-header-cell_cell3, .clients__table-header-cell_cell4 {
    cursor: pointer;
    transition: color .2s ease-in-out;
}

.clients__table-header-cell_cell1:hover, .clients__table-header-cell_cell2:hover, .clients__table-header-cell_cell3:hover, .clients__table-header-cell_cell4:hover {
    color: #333333;
}

.clients__table-cell-loading {
    width: 100%;
    height: 300px;
}

.clients__table-cell {
    background-color: white;
    border-bottom: 1px solid #C8C5D1;
    color: #333333;
    font-size: 14px;
    line-height: 19px;
    padding-top: 10px;
    padding-bottom: 12px;
    padding-left: 0;
    padding-right: 0;
}

.clients__table-cell_id {
    color: #B0B0B0;
    font-size: 12px;
    line-height: 16px;
    padding-left: 20px;
}

.clients__time {
    color: #B0B0B0; 
    font-size: 14px;
    line-height: 19px;
    margin-left: 7px;
}

.clients__edit,.clients__cancel {
    background-repeat: no-repeat;
    background-position: -2px center;
    padding-left: 13px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    transition: color .2s ease-in-out;
}

.clients__edit {
    background-image: url(../img/edit-icon.svg);
    margin-right: 25px;
}

.clients__edit:hover {
    color: #9873FF;
}

.clients__cancel {
    background-image: url(../img/cancel-icon.svg);
}

.clients__cancel:hover {
    color: #F06A4D;
}

.clients__edit-load {
    display: none;
    margin-bottom: -2px;
    animation: loading 1s linear infinite;
}

.clients__edit_active {
    background-image: none;
    color: #9873FF;
    padding-left: 12px;
    padding-bottom: 5px;
}

.clients__edit_active svg {
    display: inline-block;
}

.clients__test {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
}

.clients__loading {
    width: 80px;
    height: 80px;
    background-image: url(../img/loading.svg);
    animation: loading 1s linear infinite;
}

@keyframes loading {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.clients__add-container {
    width: 100%;
    text-align: center;
}

.clients__add {
    border: 1px solid #9873FF;
    color: #9873FF;
    letter-spacing: -0.8px;
    background: none;
    background-image: url(../img/add-icon.svg);
    background-repeat: no-repeat;
    background-position: 26px center;
    padding-left: 58px;
    padding-right: 28px;
    padding-top: 12px;
    padding-bottom: 12px;
    transition: color .2s ease-in-out, background .2s ease-in-out;
}

.clients__add:hover {
    color: #ffffff;
    background-image: url(../img/add-icon2.svg);
    background-color: #8052FF;
}

.clients__add:active {
    color: #ffffff;
    background-image: url(../img/add-icon2.svg);
    background-color: #B89EFF;
}

.contacts {
    display: flex;
}

.contact__tooltip {
    position: relative;
}

.contact__tooltip_hidden {
    display: none;
}

.contact__more {
    color: #333333;
    width: 16px;
    height: 16px;
    border: 1px solid #9873FF;
    border-radius: 8px;
    font-size: 8px;
    font-weight: 600;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    padding-bottom: 2px;
    cursor: pointer;
}

.contact__icon_other, .contact__icon_tel {
    margin-right: 7px;
    transition: fill .3s ease-in-out;
}

.contact__icon_other:hover path, .contact__icon_tel:hover circle {
    fill: #8052FF;
}

.contact__text {
    display: none;
    position: absolute;
    bottom: 140%;
    left: -93px;
    width: 200px;
    background-color: #5B46A9;
    color: #ffffff;
    padding-left: 11px;
    padding-right: 11px;
    padding-top: 7px;
    padding-bottom: 10px;
    font-size: 12px;
    line-height: 16px;
    font-weight: 600;
    text-align: center;
    white-space: nowrap;
}

.contact__text::before {
    content: " ";
    position: absolute;
    top: calc(100% - 5px);
    left: 50%;
    width: 10px;
    height: 10px;
    background-color: #5B46A9;
    margin-left: -5px;
    transform: rotate(45deg);
}

.contact__icon:hover + .contact__text {
    display: block;
}

@media (max-width: 1366px) {
    .container {
        width: 100%;
        padding-left: 20px;
        padding-right: 20px;
    }

    .clients__table-header-cell_cell6 {
        width: 130px;
    }
}

@media (max-width: 970px) {
    .clients__edit, .clients__cancel {
        padding-top: 4px;
        padding-bottom: 4px;
    }

    .clients__edit {
        margin-right: 0;
    }
}

@media (max-width: 768px) {
    .header__query::placeholder {
        letter-spacing: 0.1px;
    }

    .cleints {
        padding-top: 44px;
    }

    .clients__table-cell {
        padding-top: 5px;
        padding-bottom: 6px;
        padding-left: 0;
        padding-right: 0;
    }

    .clients__table-header-cell_cell1 {
        width: 80px;
        padding-left: 20px;
    }
    
    .clients__table-header-cell_cell2 {
        width: 220px;
    }
    
    .clients__table-header-cell_cell3 {
        width: 98px;
        padding-right: 0px;
    }
    
    .clients__table-header-cell_cell4 {
        width: 98px;
        padding-right: 0px;
    }
    
    .clients__table-header-cell_cell5 {
        width: 131px;
        padding-left: 0;
    }
    
    .clients__table-header-cell_cell6 {
        width: 100px;
        padding-left: 0;
    }

    .clients__table-cell_id {
        padding-left: 20px;
    }
}

@media (max-width: 730px) {
    .modal, .confirm {
        width: 90%;
    }

    .container {
        padding-right: 10px;
        padding-left: 10px;
    }

    .header__query {
        display: none;
    }

    .header__logo {
        margin-right: 0;
        width: 24px;
        height: 24px;
    }

    .header__container {
        display: flex;
        justify-content: center;
        padding-top: 8px;
        padding-bottom: 8px;
    }

    .cleints {
        padding-top: 30px;
    }

    .clients__header {
        font-size: 20px;
        letter-spacing: -0.8px;
        margin-bottom: 6px;
    }

    .clients__table {
        width: 728px;
    }

    .clients__table-box {
        max-width: 728px;
        overflow-x: scroll;
    }

    .clients__table-header-cell {
        padding-bottom: 9px;
    }

    .clients__time {
        margin-left: 0;
    }

    .form__select {
        width: 35%;
    }

    .form__contact-input {
        width: calc(65% - 27px);
    }
}